 <!-- Navigation Links -->
<nav>
    <a href="https://webpages.uncc.edu/evue">Charlotte.edu</a> ||
    <a href="https://github.com/VwjOp/VwjOp.github.io">Github</a> ||
    <a href="https://www.freecodecamp.org/ethanvue">freeCodeCamp</a> ||
    <a href="https://www.codecademy.com/profiles/course9838028615">Codecademy</a> ||
    <a href="https://www.linkedin.com/in/ethan-vue-906825380/">LinkedIn</a>
</nav>

<!-- Credit -->
<p><a href="https://vuecreativesolutions.com/index.html">Page designed by Vue Creative Solutions</a></p>

<!-- HTML Validator -->
<a href="https://validator.w3.org/check?uri=referer" id="validation-link-html">
    <img class="validation-badge" src="https://VwjOp.github.io/itis3135/zarchives/html_validation.png" 
         alt="Valid HTML!">
</a>

<!-- CSS Validator -->
<a href="https://jigsaw.w3.org/css-validator/validator?uri=referer" id="validation-link-css">
    <img class="validation-badge" src="https://jigsaw.w3.org/css-validator/images/vcss" 
         alt="Valid CSS!">
</a>
