 <nav>
            <a href="https://webpages.uncc.edu/evue">Charlotte.edu</a>
            ||
            <a href="https://github.com/VwjOp/VwjOp.github.io">Github</a>
            ||
            <a href="https://www.freecodecamp.org/ethanvue">freeCodeCamp</a>
            ||
            <a href="https://www.codecademy.com/profiles/course9838028615">Codecademy</a>
            ||
            <a href="https://www.linkedin.com/in/ethan-vue-906825380/">LinkedIn</a>
        </nav>
        <a href="vuecreativesolutions.com/index.html">Page designed by Vue Creative Solutions</a>


        <!-- HTML Validator -->
        <a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
            <img style="border:0;width:88px;height:31px"
                src="https://VwjOp.github.io/itis3135/zarchives/html_validation.png" 
                alt="Valid HTML!">
        </a>

        <!-- CSS Validator -->
        <a href="https://jigsaw.w3.org/css-validator/validator?uri=referer" id="validation_link_css">
            <img style="border:0;width:88px;height:31px"
                src="https://jigsaw.w3.org/css-validator/images/vcss" 
                alt="Valid CSS!">
        </a>