<h1>Ethan Vue's Weeping Tiger || ITIS3135</h1>
      <nav>
  <a href="./">Home</a>
  ||
  <a href="introduction.html">Introduction</a>
  ||
  <a href="contract.html">Contract</a>
  ||
  <a href="stuff/MY PAGE & STUFF.HTM">Crappy Page</a>
  ||
  <a href="website_evaluations.html">Website Evaluations</a>

</nav>


<nav>
  <ul>
    <li><a href="../index.html">GO BACK HOME</a></li>
    <li><a href="STUFF.htm">THIS UGLY PAGE</a></li>
    <li><a href="https://www.google.com">WHY IS THIS EVEN HERE</a></li>
  </ul>
</nav>